body {
  margin: 0;
  padding: 0 2em;
  background-color: rgb(153,217,234);
}

h1, p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(63,72,204);
  letter-spacing: .1em;
}

#title-wrapper {
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  padding-top: 0.5em;
  margin-bottom: 0;
  letter-spacing: .2em;
}

p {
  font-size: 1.3em;
}

.descr {
  width: 100%;
  text-align: center;
  padding: 2em 1.8em .75em 1.8em;
}

.descr > p {
  margin: auto;
  text-align: left;
  max-width: 36em;
  line-height: 1.8em;
}

#descr1 {
  margin-top: 1em;
  margin-bottom: 2em;
}

#descr2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

#heatmap-gif-section {
  width: 100%;
  background-color: purple;
  height:29.5em;
}

#heatmap-gif-div {
  width: 100%;
  text-align: center;
  padding: 2em 2em 2em .75em;
}

#heatmap-gif {
  margin: auto;
  text-align: left;
  max-width: 36em;
  line-height: 1.8em;
}

.map-large {
  margin: auto;
  width: 80em;
  height: 40em;
  display: none;
}

.map-cloud-div {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.map-small-div, .word-cloud-div, .word-cloud {
  display: inline-block;
  width: 650px;
  height: 470px;
  margin: 0;
  padding: 0;
}

.word-cloud-div {
  background-color: rgb(213,240,247);
}

.year-label-div {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.year-label-div > p {
  margin: 1em 0 .4em 0;
  padding: 0;
  font-size: 3em;
  font-weight: bold;
}

#descr3 {
  margin-top: 2em;
}

#attribution {
  text-align: left;
  line-height: 1.8em;
  font-size: .8em;
  text-align: center;
  margin-top: 15em;
  margin-bottom: 3em;
}

#attribution > * {
  max-width: 70em;
  margin: auto;
}
